<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4PrlR7FTqT7kKA459cOJ25itCcFdQOmY</string>
	<key>GCM_SENDER_ID</key>
	<string>724441797408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parentalctrl</string>
	<key>PROJECT_ID</key>
	<string>app-control-e7b98</string>
	<key>STORAGE_BUCKET</key>
	<string>app-control-e7b98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724441797408:ios:5ac025ee6d9ba4a7b4bd45</string>
</dict>
</plist>